/* @import "tailwindcss" */

/* common  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    /* font-variation-settings: */
    /* "wdth" 100; */
}


.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    /* font-style: normal; */
}

/* shared style  */

.primary-bg {
    background-color: #f5f8ff;
}



.section-title {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 50px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 10px;
    margin-top: 120px;
}

.section-description {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 45px;
}

/* header style  */



.header {
    max-width: 1280px;
    margin: 0 auto;
}

.navbar {
    margin-top: 30px;
    margin-bottom: 120px;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    margin-right: 50px;
}

.navbar ul li a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.navbar ul li:nth-child(1) {
    color: rgba(37, 36, 50, 1);
}

.navbar ul li:nth-child(2) {
    color: rgba(137, 135, 161, 1);
}

.navbar ul li:nth-child(3) {
    color: rgba(137, 135, 161, 1);
}

.navbar ul li:nth-child(4) {
    color: rgba(0, 0, 0, 1);
    margin-right: 0;
}


.banner {
    margin-top: 200px;
}


.banner-content {
    flex: 1;
    margin-bottom: 0;
    width: 50%;
}

.banner-img {
    flex: 1;
    margin-bottom: 0;
    width: 50%;
}

.banner-img img {
    width: 100%;
}

.banner-title {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 65px;
    margin-top: 98px;
    color: rgba(0, 0, 0, 1);
}

.banner-title-color {
    color: rgba(233, 90, 8, 1);
}

.banner-description {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}


/* plants section  */

.plants {
    max-width: 1280px;
    margin: 0 auto;
}


.card img {
    width: 100%;
}

.card {
    gap: 10px;
}

.card-content {
    margin: 25px 0;
    text-align: center;
}

.card-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: rgba(17, 17, 17, 1);
}

.card-price {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: rgba(17, 17, 17, 1);
}

.btn-primary {
    font-family: "Inter", sans-serif;
    background-color: rgba(233, 90, 8, 1);
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: white;
    padding: 19px 98px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.btn-primary:hover {
    background-color: #2495FA;
}

.btn-primary a {
    text-decoration: none;
    color: white;
}


.plants-card {
    gap: 20px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


/* flower section  */

.flower {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 200px;
}

.flower-img {
    flex: 1;
    width: 50%;
}

.flower-content {
    flex: 1;
    width: 50%;
}

.flower-img {
    position: relative;
}


.trusted-image {
    position: absolute;
    top: -24%;
    left: 50%;
    transform: translate(1%, 0%);
    z-index: 2;
}

.flower-title {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 50px;
    color: rgba(0, 0, 0, 1);
    margin-top: 38px;
}


.flower-content ul li {
    list-style: disc;
}

.flower-description {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}




/* deals section  */



.deals {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.deals-content {
    margin-top: 120px;
    margin-bottom: 120px;
}


.deals-title {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 50px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 15px;
}

.deals-description {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.deals-images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
}



.deals-images-left-top {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}

.deals-images-left-bottom {
    position: relative;
    overflow: hidden;
}

.deals-images-right {
    position: relative;
    overflow: hidden;
}

.deals-images-left-top-content {
    text-align: center;
}

.deals-images-left-bottom-content {
    text-align: center;
}

.deals-images-right-content h3 {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 1rem;
}

.deals-images-left-top-content h3 {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 15px;
}

.deals-images-left-bottom-content h3 {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 15px;
}


.deals-images-right-content a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1.75rem;
    text-align: center;
    border-bottom: 2px solid white;
}

.deals-images-left-bottom-content a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid white;
}

.deals-images-left-top-content a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid white;
}


.deals-images-right-content {
    font-family: "Noto Serif", serif;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 1rem;
}


.deals-images-left-top img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}

.deals-images-left-top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    place-items: center;
    border-radius: 20px;
}

.deals-images-left-bottom img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}

.deals-images-left-bottom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    place-items: center;
    border-radius: 20px;
}

.deals-images-right img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}

.deals-images-right-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    place-items: center;
    border-radius: 20px;
}


/* join section  */


.join {
    position: relative;
}

.join img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.join-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.join-title {
    text-align: center;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin-bottom: 1.25rem;
}

.join-content {
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.join-input {
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.50);
    background-color: white;
    padding: 1rem 25rem 1rem 1.25rem;
    border: none;
    font-size: 1rem;
    outline: none;
}

.join-btn {
    font-family: "Inter", sans-serif;
    background-color: rgba(233, 90, 8, 1);
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding: 16px 50px;
    cursor: pointer;
}

.join-form button {
    margin-left: -4px;
}


/* footer section  */

footer {
    max-width: 1280px;
    margin: 50px auto;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.footer-description {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    padding-right: 150px;
}

.footer-middle-left {
    margin-right: 110px;
}

.footer-middle ul li {
    font-family: "Inter", sans-serif;
    Font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    Font-size: 16px;
    margin-bottom: 32px;
}

.footer-right {
    justify-content: space-between;
}

.footer-right img {
    width: 36px;
    height: 36px;
}

/* responsive for small device  */

@media screen and (max-width:576px) {



    /* navbar section  */

    .navbar ul li:nth-child(1) {
        display: none;
    }

    .navbar ul li:nth-child(2) {
        display: none;
    }

    .navbar ul li:nth-child(3) {
        display: none;
    }

    .navbar {
        margin: 20px 10px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    /* banner section  */

    .banner {
        margin-top: 24px;
    }


    .banner-content {
        margin-bottom: 0;
        padding-right: 25px;
        padding-left: 15px;
        width: 100%;
    }

    .banner-img {
        margin-bottom: 0;
        width: 100%;
    }

    .banner-img img {
        width: 100%;
    }

    .banner-title {
        font-weight: bold;
        font-size: 28px;
        margin-top: 28px;
    }

    .banner-title-color {
        color: rgba(233, 90, 8, 1);
    }

    .banner-description {
        font-size: 14px;
    }

    /* plants section  */


    .section-title {
        font-size: 28px;
        margin-top: 65px;
    }

    .section-description {
        font-size: 14px;
        margin-right: 60px;
        margin-left: 40px;
        margin-bottom: 30px;
    }

    .section-description br{
        display: none;
    }

.card img {
    width: 100%;
}

.plants-card {
    margin-left: 20px;
    margin-right: 20px;
}


    .plants-card {
    gap: 20px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.card-content {
    margin: 15px 0;
    text-align: center;
}

.card-title {
    font-size: 16px;
}

.card-price {
    font-size: 16px;
}

.btn-primary {
    font-size: 16px;
    font-weight: 600;
    padding: 19px 38px;
}


/* flower section  */

.flower {
    flex-direction: column;
    margin: 20px;
}

.flower-img {
    flex: 1;
    width: 100%;
}

.flower-content {
    flex: 1;
    width: 100%;
}

.flower-content h2{
    font-size: 28px;
    margin: 20px 0;
}

.flower-content ul li {
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 16px;
}

.flower-title br{
    display: none;
}

.trusted-image{
    display: none;
}

/* deal section  */

.deals{
    margin: 20px;
}

.deals-title {
    font-size: 28px;
}

.deals-description {
    font-size: 14px;
}

.deals-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.deals-images-right-content a {
    font-size: 1rem;
}

.deals-images-right-content h3{
    font-size: 1.25rem;
}


}